*{
    margin: 0px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /* border: 1px solid red; */
    /* color: #b6bac5; */
}


#error{
  color: red;
}

#error i{
  color: red;
}

#product_page_main_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 30px;
    padding-right: 30px;
    /* border: 2px solid red; */
    /* width: 95%; */
    gap: 30px;
    /* background-color: rgb(0, 0, 0, 0.8); */
    margin: auto;
    padding-left: 50px;
    /* overflow-x: hidden; */
    overflow: hidden;
    /* width: 100%; */
   
    
}

 .card_img_product{
    width: 100%;
    height: 300px;
    border-radius: 12px;
    margin: auto;
    text-align: center;
    /* position: relative; */
 }

 #div_for_heart{
   position: absolute;
   bottom: 260px;
   right: 5px;
   /* background-color: ; */
   color:rgb(38,37,37) ;
   /* border: 2px solid white;  */
   padding-left: 20px;
   padding-right: 20px;
 }
 /* .fa fa-heart-o{
   border: 1px solid white;
   font-size:48px;
   color:red"
 } */
 #img_div{
   position: relative;
   
 }
 #div_forname_dist_price{
  display: flex;
  /* grid-template-columns: repeat(2,1fr); */
  /* border: 1px solid red; */
  width: 100%;
  justify-content: space-between;
  /* margin-right: 100px; */
  
 }
 #price{
   font-weight: bold;
 }
 #div_forimg_dname{
   /* border: 1px solid black; */
   margin-top: 25px;
   /* z-index: -1; */
   /* width: 95%; */
   height: 100%;
   /* border: 1px solid red; */
 }

 #div_forimg_dname img{
  /* border: 2px solid red; */
  position: relative;
  z-index: -1;
 }
 #div_for_name_details{
   /* border: 1px solid black;  */
   width: 160%;
   margin-left: 5px;
 }
 #distance_from,#available_dates{
   color: #717175;
 }
 #starSymbol,#rate{
    /* border: 1px solid green; */
    padding-right: 0px;
   
 }
 #rate{
   padding-top: 5px;
 }
 #ratingDiv{
    display: flex;
    /* border: 1px solid green; */
    width: 50px;
    margin-right: 12px;
    /* margin-left: 100px; */
    
 }

 #product_page_showmap{
  position: fixed;
  bottom: 100px;
  height: 35px;
  background-color: #222222;
  border: none;
  border-radius: 30px;
  color: white;
  margin-left: 45%;
  /* margin: auto; */
  padding-bottom: 34px;
  font-size: medium;
  padding-left: 25px;
  padding-right:25px ;
  padding-top: 12px;
  
 }
 footer{
  position: fixed;
  bottom: 0;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #dddddd;
  width: 100%;
  padding: 6px 0;
  font-size: 15px;
  
 }
 #footer_part2{
  display: flex;
  margin-right:30px ;
 /* border:1px solid brown ; */
 width: 25%;
  /* padding-top: 12px; */
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  font-size: 15px;
 }
 

 


 #footer_part1{
  margin-left: 30px;
 }
 #footer_part1>p{
  color:#8f8f8f;
  /* padding-top: 12px;
  padding-bottom: 12px; */
 }
 #footer_part2>p{
  margin-bottom: 10px;
  
 }

 @media screen and  (max-width: 1115px) and (min-width :950px ) {
  #product_page_main_div{
    grid-template-columns: repeat(3,1fr);
    
}

/* img{
  width: 700px;
  height: 280px;
  border-radius: 12px;
} */



}


@media screen and   (max-width: 950px) and (min-width: 550px){
  #product_page_main_div{
   
    grid-template-columns: repeat(2,1fr);
   
}
/* img{
  width: 1000px;
  height: 280px;
  border-radius: 12px;
} */
}
 


@media screen and   (max-width: 550px)  and (min-width: 10px){
  #product_page_main_div{
   
    grid-template-columns: repeat(1,1fr);
    
   
}
/* img{
  width: 100%;
  height: 280px;
  border-radius: 12px;
} */
}
 